<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.framework.orm.page.DataSourceResult"
			alias="page" />
		<typeAlias type="com.framework.orm.page.DataSourceRequest"
			alias="pageRequest" />
		<typeAlias type="com.ss.code.bean.CodeBean" alias="code" />
		<!-- quartz <typeAlias type="com.framework.quartz.entity.TaskJob" alias="taskJob" 
			/> -->
	</typeAliases>
</configuration>


